alembic==1.8.0
certifi==2022.5.18.1
chardet==4.0.0
charset-normalizer==2.0.12
colorama==0.4.4
commonmark==0.9.1
distlib==0.3.4
Faker==13.12.0
filelock==3.7.1
Flask==2.1.2
Flask-Migrate==3.1.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
gitdb==4.0.9
GitPython==3.1.27
greenlet==1.1.2
idna==3.3
importlib-metadata==4.11.3
importlib-resources==5.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==4.8.0
Mako==1.2.1
MarkupSafe==2.1.1
pbr==5.9.0
platformdirs==2.5.2
prettytable==3.3.0
prompt-toolkit==3.0.29
pycryptodomex==3.14.1
Pygments==2.12.0
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
PySocks==1.7.1
python-dateutil==2.8.2
PyYAML==6.0
requests==2.27.1
requests-toolbelt==0.9.1
rich==12.4.1
scapy==2.4.5
six==1.16.0
smmap==5.0.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.39
stevedore==3.5.0
termcolor==1.1.0
typing_extensions==4.2.0
urllib3==1.26.9
wcwidth==0.2.5
Werkzeug==2.1.2
zipp==3.8.0
