{% extends 'base.html' %}
{% block content %}
            <div  class = "col-md-offset-4 col-lg-offset-4col-xl-offset-4" style="margin-top:150px">
              <div class="col-lg-6">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button id="button_show" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" >text <span class="caret"></span></button>
                        <ul class="dropdown-menu" id="search_menu" >
                          <li><a href="#">text</a></li>
                          <li><a href="#">name</a></li>
                          <li><a href="#">system</a></li>
                          <li><a href="#">category</a></li>
                        </ul>
                    </div>
                    <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                      </span>
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
{% endblock %}
{% block javascript %}
<script>
    $("ul#search_menu").on("click","li",function(){
        $(button_show).html($(this).text()+'<span class="caret"></span>');
        })
</script>
{% endblock %}
